html{
    scroll-behavior: smooth;
}

.skip {
    position: absolute;
    z-index:-999;
    color:transparent;
}

.skip:focus {
    position: relative;
    z-index: 999;
    color: white;
}

@keyframes title {
    0%   {width: 500px; color: rgb(0, 0, 0); }
    100%  {width: 100%; color: white; }
}

header {
    background-image: url('../images/silverdome.jpg');
    font-family: "Poppins";
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 5px;
    border-image: linear-gradient(90deg, rgba(210,0,36,1) 22%, rgba(9,9,121,1) 62%, rgba(0,141,170,1) 100%) 1;
    
}

#title {
    animation-name: title;
    animation-duration: 2s;
    margin-top: auto;
    padding-top: 20px;
   
}

h1 {
    text-align: center;
    font-size: 50px;
    filter: drop-shadow(10px 10px 6px #000000);
}

nav {
    display: grid;
    grid-template-rows: auto;
    justify-items: stretch;
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Verdana', 'Times New Roman';
    background-color: #000000;
    color: #ffffff;
    margin: 25px 25px 0px 25px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    padding: 10px 0px 15px 15px;
}

footer {
    background-image: url('../images/colorfulsmoke.jpeg');   
    text-align: center;
}

footer p {
    font-family: "Poppins";
    margin-bottom: 0;
}

#contact {
    font-size: 40px;
    font-family: "Poppins";
    filter: drop-shadow(10px 10px 4px #333333);
    margin-bottom: 0;
}

.front {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 25px;
    filter: drop-shadow(10px 10px 4px #333333);
    padding-top: 10px;
    border-bottom: solid 5px;
    border-image: linear-gradient(90deg, rgba(210,0,36,1) 22%, rgba(9,9,121,1) 62%, rgba(0,141,170,1) 100%) 1;
 }

#gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 25px;
    filter: drop-shadow(10px 10px 4px #333333);
    padding-top: 10px;
    border-bottom: solid 5px;
    border-image: linear-gradient(90deg, rgba(210,0,36,1) 22%, rgba(9,9,121,1) 62%, rgba(0,141,170,1) 100%) 1;
}

#galleryretro {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 25px;
    filter: drop-shadow(10px 10px 4px #333333);
    border-bottom: solid 5px;
    border-image: linear-gradient(90deg, rgba(210,0,36,1) 22%, rgba(9,9,121,1) 62%, rgba(0,141,170,1) 100%) 1;
}

#galleryretro img {
    margin-top: 20px;
}

#galleryclassic {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
    row-gap: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    filter: drop-shadow(10px 10px 6px #333333);
    border-bottom: solid 5px;
    border-image: linear-gradient(90deg, rgba(210,0,36,1) 22%, rgba(9,9,121,1) 62%, rgba(0,141,170,1) 100%) 1;
}

img {
    width: 350px;
    border: 5px solid white;
    border-radius: 50px;
}

#diff {
    border: 5px solid white;
    border-radius: 25px;
}

img:hover {
    opacity: .4;
}

li {
    padding: 12px;
    background: rgb(210,0,36);
    background: linear-gradient(90deg, rgba(210,0,36,1) 0%, rgba(9,9,121,1) 100%);
    text-align: center;
}

#current {
    border: 2px solid #ffffff;
    background: #000000;
    color: rgba(0,141,170,1);
    text-decoration: underline;
    filter: drop-shadow(10px 10px 4px #333333);
}

a {
    color: #ffffff;
    text-decoration: none;
}

main a{
    padding-top: 50px;
}

form {
    padding-top: 20px;
    display: grid;
    grid-template-columns:auto;
    justify-items: center;
}

@media (prefers-reduced-motion) {
    #title {
        animation: none;
    }

    header {
        background-image: url('../images/silverdome.jpg');
        font-family: "Poppins";
        background-attachment: inherit;
        background-position: inherit;
        
    }
}

/* Tablet version  */
@media screen and (min-width: 778px){
    #galleryclassic {
        grid-template-columns: auto auto;
        column-gap: 20px;
        justify-content: space-evenly;
        align-items: center;
    }

    #galleryretro {
        flex-flow: row wrap;
        justify-content: center;
    }

    #galleryretro img {
        margin-right: 50px;
        
    }

    nav {
        justify-items: center;
    }

    li {
        text-align: center;
    }
}

/* Desktop version */
@media screen and (min-width: 1180px){
    #galleryclassic {    
        grid-template-columns: auto auto auto;
        column-gap: 20px;
        justify-content: space-evenly;
        align-items: center;
    }

    #galleryretro {
        justify-content: space-evenly;
    }

    #galleryretro img {
        margin-right: 20px;
    }
    nav {
        justify-items: center;
    }
    li {
        background: linear-gradient(0deg, rgba(210,0,36,1) 0%, rgba(9,9,121,1) 100%);
        float: left;
    }
}